# No idea which version of CMake we actually need...
cmake_minimum_required(VERSION 2.6 FATA_ERROR)

project("PCTCNN")

# find_package(PCL 1.7 REQUIRED COMPONENTS common io)


set(PRJ .)
set(FILELIST .)

message(STATUS "SYSTEM_NAME : ${SYSTEM_NAME}")
message(STATUS "CMAKE_GENERATOR : ${CMAKE_GENERATOR}")
message(STATUS "DESKTOP : ${DESKTOP}")
message(STATUS "PRJ : ${PRJ}")
message(STATUS "FILELIST : ${FILELIST}")
